NEXT_PUBLIC_SUPABASE_URL=https://gyenhoozyvbeqmyhzlwr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7z-NCWFT61TExhm9PSqmTg_YHVnpoEc
NEXT_PUBLIC_BACKEND_URL=https://lumiar-production.up.railway.app
